*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    grid-gap: 5px;
    position: relative;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    font-size: 1rem;
    white-space: nowrap;
}

.player img {
    width: 9.3vh;
    height: 9.3vh;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    text-align: center;
    aspect-ratio: 1 / 1;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.square:disabled {
    border: black solid 1.6px;
}

.hover:hover {
    background-color: #9b9b9b;
    cursor: pointer;
}

.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 10vh;
}

.winner {
    display: flex;
    align-items: center;
    height: 10vh;
    font-size: 2rem;
    gap: 1ch;
}

.winner img {
    width: 9.3vh;
    height: 9.3vh;
}

.reset-btn {
    padding: 0.5em 2em;
    border: 1px solid black;
    background-color: #cccccc;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.reset-btn:hover {
    background-color: #9b9b9b;
}

.winner-line {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
}
